beautifulsoup4==4.9.3
Jinja2==2.11.2
livereload==2.6.3
lxml==4.6.1
more-itertools==8.6.0
mypy==0.790
requests==2.25.0
urllib3==1.26.2
pathvalidate==2.3.0
python-dotenv==0.15.0
tqdm==4.54.0
PyYAML~=5.3.1
wemake-python_styleguide==0.14.1